<html>
    <head>
        <title>PREDICTING COMPRESSIVE STRENGTH OF CONCRTE</title>
        <link href="style.css" rel="stylesheet" type="text/css>"
    </head>
    <body>
        <header>
            <div class=top>
                <ul class="nav-menu">
                <li> <a href="">CONCRETE STRENGTH PREDICTION</a></li>
                <li> <a href="">TEMPERATURE=27~</a></li>
                </ul>
                </div>
                <div class="tagline">
                    <h1>PREDICTING COMPRESSIVE STRENGTH OF CONCRETE</h1>
                    <div class="Cement=10-15">
                        <a href=""class="bttn">Cement=10-15</a>
                    <div class="Blast Furnace Slag=20-30">  
                        <a href=""class="bttn">Blast Furnace Slag=20-30</a>
                    <div class="Fly Flash=66">  
                        <a href=""class="bttn">Fly Flash</a>
                    <div class="Water=15-20">  
                        <a href=""class="bttn">Water=15-20</a>
                    <div class="Super Plasticizer1-1.75">
                        <a href=""class="bttn">Super Plasticizer</a>
                    <div class="Coarse Aggregate50-60">
                        <a href=""class="bttn">Coarse Aggregate50-60</a>
                    <div class="Fine Aggregate=60-70">
                        <a href=""class="bttn">Fine Aggregate=60-70</a>
                    <div class="Age=28days">
                        <a href=""class="bttn">Age=28days</a>
                    </div class="tagline">
                    <h1>STRENGTH OF CEMENT IS{70-90%}</h1>   


                    </div>


                

                   
            </div>
        </header>
    </body>
</html>
